/* Coolors Exported Palette - coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241 */
// Just using this file as a reference to colors;

/* HSL */
$color1: hsla(214%, 35%, 37%, 1);
$color2: hsla(202%, 46%, 72%, 1);
$color3: hsla(182%, 82%, 93%, 1);
$color4: hsla(12%, 83%, 62%, 1);
$color5: hsla(218%, 23%, 21%, 1);

/* RGB */
$color1: rgba(61, 90, 128, 1);
$color2: rgba(152, 193, 217, 1);
$color3: rgba(224, 251, 252, 1);
$color4: rgba(238, 108, 77, 1);
$color5: rgba(41, 50, 65, 1);

/* HEX */
$color1: #3d5a80;
$color2: #98c1d9;
$color3: #e0fbfc;
$color4: #ee6c4d;
$color5: #293241;

/* Button Colors */
$primary: $color5;
$success: #567047;
$danger: #b80000;
$warning: #e59400;
$info: #7688a8;
$default: #c4c4c4;
