.App {
  text-align: center;
  /* background-color: #e0fbfc; */
  color: #293241;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
}

.App-body {
  font-size: calc(8px + 2vmin);
}

.App-footer {
  font-size: calc(12px + 2vmin);
}

.App-body a {
  color: #ee6c4d;
  text-decoration: none;
}
